<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:property-placeholder location="classpath:sport.properties"/>
    
    <bean id="fortune" class="com.spring.demo.HappyFortuneService"></bean>
    <bean id="random" class="com.spring.demo.RandomFortuneService"></bean>
    <bean id="trackCoach" class="com.spring.demo.TrackCoach"><constructor-arg ref="fortune"></constructor-arg></bean>
    <bean id="baseballCoach" class="com.spring.demo.BaseballCoach"><constructor-arg ref="random"></constructor-arg></bean>
    <bean id="cricketCoach" class="com.spring.demo.CricketCoach">
    	<property name="fortuneService" ref="fortune"></property>
    	<property name="email" value="${coach.email}"></property>
    	<property name="team" value="${coach.team}"></property>
    </bean>
    
</beans>





