<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorator="layouts/main">
<head>
    <title>Spring Course - You need a story for every single day!</title>
</head>
<body>

<div layout:fragment="loginContent">

    <form name="registration" th:action="@{/reg}" th:object="${user}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Please, registrate new profile</h2>
        <input type="text" id="fullName" name="fullName" th:field="*{fullName}" class="form-control" placeholder="Full Name"  />
        <input type="text" id="email" name="username" th:field="*{email}" class="form-control" placeholder="E-mail Address"  />
        <input type="password" id="password" name="password" th:field="*{password}"  class="form-control" placeholder="Password" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registration</button>
    </form>

</div>

</body>
</html>