<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Home Page</title>
</head>
<body>
<h1>Welcome!</h1>
<p>Click <a th:href="@{/home/hello/}">here</a> to see a greeting.</p>
<p>Click <a th:href="@{/home/login/}">here</a> to login.</p>
<p>Click <a th:href="@{/users/new/}">here</a> to add new user.</p>
<p>Click <a th:href="@{/users/}">here</a> to show all users.</p>
</body>
</html>
