<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Users</title>
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<table border="2">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
        <th>E-mail</th>
    </tr>
<border="1">
    <tr th:each="user : ${user}">
        <td th:inline="text"><a th:href="@{'/users/' + ${user.id}}">[[${user.id}]]</a></td>
        <td th:text="${user.name}">...</td>
        <td th:text="${user.password}">...</td>
        <td th:text="${user.email}">...</td>
    </tr>
</table>
<input type="button" value="Add new user" onclick="location.href='/users/new'"/>
<input type="button" value="Show all users" onclick="location.href='/users/'"/>
<input type="button" value="Go to Main Page" onclick="location.href='/home/'"/>
</body>
</html>