<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Check e-mail being hacked</title>
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<form action="#" th:action="@{/home/email/}" th:object="${email}" method="post">
    <label>Enter e-mail address:</label>
    <br />
    <input type="email" th:field="*{email}">
    <br />
    <div><input type="submit" value="Check e-mail address"/></div>
</form>
<form th:action="@{/home/}" method="get">
    <input type="submit" value="Go to Main Page"/>
</form>
</body>
</html>